<h1 align="center" style="margin-top: 15%;">Search for a movie</h1>

<form action="/results" method="GET" align="center">
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
</form>